


* {
    padding: 0rem;
    margin: 0rem;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

body{
       background-color: #000;
       width: 100%;   
       height: 100%;   
       margin: 0; 
}
a{     text-decoration: none;   
       background-color: transparent;
       color:#ededed; 
} 
a.active, a:hover{
    background-color: #fff;
    color:#000;
}
.header{
    display: flex;
    flex-direction: row-reverse;
    
    position: fixed;
      width: 100%;
      background-color:#000; 
      color:#fff;  
        height: 3.5rem;
        z-index: 1;
}


.header-link{
     
     padding: 0.5rem 1.5rem;
     font-size:1.5rem;  
     font-weight: bold;
    
}

#one{
    background-image: url('../images/bgimage.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
    padding: 1rem 0rem;
    margin-bottom: 10rem;
}
.content{
    margin-top: 1rem;
    display: flex;
    justify-content: space-around;
}

@keyframes spin{
    from{
        transform: rotateY(0deg);
        moz-transform:  rotateY(0deg);
        ms-transform:  rotateY(0deg);
    }
    to{
        transform: rotateY(360deg);
         moz-transform:  rotateY(360deg);
        ms-transform:  rotateY(360deg);
    }
}
@-webkit-keyframes spin{
    from{-webkit-transform: rotate(0deg);}
    to{-webkit-transform: rotate(360deg);}
}

#profile{
    margin-top: 5rem;
    margin-left: 1.5rem;
    margin-right: 1em;
    border-radius: 50%;
    height: 80%;
    width: 70%;
    -webkit-filter: drop-shadow(0.5rem 0.5rem 0.5rem #fff);
    filter: drop-shadow(0.5rem 0.5rem 0.5rem #fff); 
    
    animation-name: spin;
    animation-timing-function: linear;
    animation-iteration-count: 1;
    animation-duration: 5s;
    
    -webkit-animation-name: spin;
    -webkit-animation-timing-function: linear;
    -webkit-animation-iteration-count: 1;
    -webkit-animation-duration: 5s;
    
}

.text{
    margin-top: 10rem;
    margin-right: 10rem;
    color:#fff;
    text-align: center;
    font-size: 1.5rem;
}
b{
    color: #3333ff;
}
#two{
    padding: 3rem 0rem;
    margin-bottom: 3rem;
    
}
.about-content{
    margin-left: 5rem;
    color: #fff;
     font-size: 1.5em;
     display: flex;
     flex-direction: column;
     justify-content: space-around;
}
.about-header{
    text-align: center;
    ;
}

.logo{
    padding-top: 1rem;
    text-align: center;
}
#logos{
    
    border-radius: 1rem;
    width: 30%;
    animation: spin 7s infinite;
    -webkit-animation: spin 6s infinite;
     -webkit-filter: drop-shadow(0.5rem 0.5rem 0.5rem #fff);
    filter: drop-shadow(0.5rem 0.5rem 0.5rem #fff); 
}

#three{
    padding: 3rem 0rem;
    margin-bottom: 3rem;
}
.p-link{
    color: #0066ff;
    text-decoration: underline;
}

.project{
    display: flex;
    justify-content: space-around;
}
.project-image{
    height: 100%;
    width: 80%;
     -webkit-filter: drop-shadow(0.5rem 0.5rem 0.5rem #fff);
    filter: drop-shadow(0.5rem 0.5rem 0.5rem #fff); 
    transition: transform .2s;
}
.project-image:hover{
    transform: scale(1.5); 
}

#four{
    padding: 5rem 0rem;
    margin-bottom: 5rem;
    font-size: 1.5rem;
}
.contact{
     display: flex;
    justify-content: space-around;
}
.contact-image{
    border-radius: 50%;
     height: 10rem;
    width: 10rem;
     -webkit-filter: drop-shadow(0.5rem 0.5rem 0.5rem #fff);
    filter: drop-shadow(0.5rem 0.5rem 0.5rem  #fff); 
    transition: transform .2s;
}
.contact-image:hover{
    transform: scale(1.5); 
}

footer{
    text-align: center;
    color: #fff;
    font-size:1.5rem;
    padding: 0.5rem;
}

@media only screen and (max-width:992px) {
  html{
    font-size: 70%;
  }
 
  }
  
  @media only screen and (max-width:700px){
     html{
    font-size: 70%;
  }
  .header{
      height: 15rem;
      position: relative;
      display: flex;
      flex-direction: column-reverse;
      text-align: center;
      }
   .content{
       display: flex;
       flex-direction: column;
       text-align: center;
         }
         .text{
             margin-top: 5rem;
         padding-left: 10rem;
         
         }
         #logos{
             width: 25rem;
             height: 15rem
         }
         .project{
             display: flex;
             flex-direction: column;
             text-align: center;
         }
         .project-image{
             padding-bottom: 3rem;
             height: 15rem;
             width: 25rem;
         }
         .contact-image{
             height: 5rem;
             width: 5rem;
            
         }
  }